{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}

{% block body %}
    <section class="breadcrumb-area breadcrumb-bg" data-background="img/bg/breadcrumb_bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2>Connexion</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active"><a href="{{ path('app_register') }}">inscription</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </section>

    <section class="login-register-area gray-lite pb-120">
        <div class="container">
            <div class="login-reg-wrap">
                <div class="no-gutters">
                    <div class="login-wrap">
                        <h3 class="widget-title">Connexion à votre <span>compte</span></h3>

                        <form action="{{ path('app_login') }}" method="post" class="login-form">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="form-grp">
                                <label for="email">Email <span>*</span></label>
                                <input type="email" name="email" id="email" placeholder="Jon Deo" value="{{ last_username }}" autocomplete="email" required autofocus>
                            </div>
                            <div class="form-grp">
                                <label for="password">Mot de passe <span>*</span></label>
                                <input name="password" type="password" id="password" placeholder="*****">
                            </div>
                            <button class="btn">Connexion</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
